<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" 
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="da">
<!-- Copyright 2013 Henrik Skov Midtiby, SDU <hemi@kbm.sdu.dk> -->
<head>
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="syddansk universitet, sdu-tek, robolab, henrik skov midtiby" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>
<body>
<div id="page">
<ul id="nav">
<li><a href="../home">Home</a></li>
<!-- <li><a href="research.html">Research</a></li>
<ul>
<li><a href="plantrecognition.html">Plant recognition</a></li>
<li><a href="shapeclassification.html">Shape classification</a></li>
</ul>
<li><a href="teaching.html">Teaching</a></li>
<ul>
<li><a href="mathematicsandphysics.html">Mathematics and physics</a></li>
</ul>
<ul>
<li><a href="../latex">Latex</a></li>
<li><a href="../todonotes">Todonotes</a></li>
-->
<li><a href="../texworksautocompletion">TeXworks autocompletion</a></li>
<!--</ul>-->
<li><a href="../publications">Publications</a></li>
<li><a href="../presentations">Presentations</a></li>
<li><a href="../contact">Contact</a></li>
</ul>
<body>
    <div id="maincontent">
        {{ content }}
    </div>
</body>
</html>
